<!-- Banner Container -->
<img [src]="image" alt="" class="object-fill container mx-auto h-[88vh]">


<!-- Student Dialog -->

<div
    class="container mx-auto p-3 flex flex-col space-y-2 md:flex-row md:space-x-5 bg-gradient-to-b md:bg-gradient-to-r from-blue-300 dark:from-blue-800 to-blue-50 dark:to-gray-600 my-5">
    <div class="w-full h-full text-center">
        <h1 class="text-2xl my-2 text-blue-700 dark:text-blue-500 font-medium ">Benifits for Student</h1>
        <p class="text-base text-blue-900 dark:text-blue-300">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi, quam, eligendi delectus laudantium ab
            dolores voluptate asperiores aut culpa nam numquam temporibus nostrum expedita accusantium natus consectetur
            quaerat, voluptas esse dolorum. Consequuntur sunt reiciendis veritatis reprehenderit odio quae possimus
            praesentium quam velit assumenda, nemo explicabo officia minus nulla repudiandae! Delectus!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, odit ratione? Quos repellat laboriosam,
            exercitationem tempora nihil, voluptatibus magni perspiciatis, facere maxime quia expedita eius!
        </p>
    </div>
    <img src="https://img.freepik.com/free-vector/college-university-students-group-young-happy-people-standing-isolated-white-background_575670-66.jpg?size=626&ext=jpg"
        alt="" class="w-full md:w-1/4 h-full">
</div>
<!-- Teacher Dialog -->
<div
    class="container mx-auto p-3 flex flex-col md:flex-row space-x-5  bg-gradient-to-t md:bg-gradient-to-l from-blue-300 dark:from-blue-700 to-blue-50 dark:to-gray-600 my-5 ">
    <img src="https://academy99.in/uploads/best_company_law_teacher_in_India.jpg" alt="" class="w-full md:w-1/4 h-full">
    <div class=" md:w-3/4 h-full text-center ">
        <h1 class="text-2xl my-2 text-blue-700 dark:text-blue-500 font-medium ">Benifits for Teacher</h1>
        <p class="text-base text-blue-900 dark:text-blue-300">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi, quam, eligendi delectus laudantium ab
            dolores voluptate asperiores aut culpa nam numquam temporibus nostrum expedita accusantium natus consectetur
            quaerat, voluptas esse dolorum. Consequuntur sunt reiciendis veritatis reprehenderit odio quae possimus
            praesentium quam velit assumenda, nemo explicabo officia minus nulla repudiandae! Delectus!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, odit ratione? Quos repellat laboriosam,
            exercitationem tempora nihil, voluptatibus magni perspiciatis, facere maxime quia expedita eius!
        </p>
    </div>
</div>

<!-- Global Dialog -->
<div class="container mx-auto  my-5 text-center">
    <h1 class="text-2xl my-2 text-blue-700 dark:text-blue-500 font-medium ">Why to use Cource Academy?</h1>
    <p class="text-base text-blue-900 dark:text-blue-300">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi, quam, eligendi delectus laudantium ab
        dolores voluptate asperiores aut culpa nam numquam temporibus nostrum expedita accusantium natus consectetur
        quaerat, voluptas esse dolorum. Consequuntur sunt reiciendis veritatis reprehenderit odio quae possimus
        praesentium quam velit assumenda, nemo explicabo officia minus nulla repudiandae! Delectus!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, odit ratione? Quos repellat laboriosam,
        exercitationem tempora nihil, voluptatibus magni perspiciatis, facere maxime quia expedita eius!
    </p>

</div>